/* カレンダーの年月表示を白にする */
.fc-toolbar-title {
  color: white;
}

/* ボタンに隙間を開ける */
.fc-button-group {
  padding-bottom: 0.5rem;
}

/* ボタンの色変える */
.fc-button,
.fc-button-primary,
.fc-button:focus,
.fc-button:disabled,
.fc-button:hover,
.fc-button:active,
.fc-button-primary,
.fc-button-primary:active {
  background-color: rgb(162 28 175) !important;
  border-color: white !important;
  color: white !important;
  border-radius: 8px !important;
}
.fc-button.fc-button-primary {
    background-color: white; /* 赤系 */
    border-color: white;
    color: rgb(162 28 175);
    border-radius: 8px !important;
  }
.fc-button[disabled] {
  background-color: white !important;
  border-color: rgb(162 28 175);
  color: rgb(162 28 175) !important;
  opacity: 0.6;
  cursor: not-allowed;
  border-radius: 8px !important;
}
.fc-button-primary:hover {
  background-color: white !important;
  border-color: rgb(162 28 175);
  color: rgb(162 28 175) !important;
}

/* フォーカス時 */
.fc-button-primary:focus {
  background-color: white !important;
  border-color: rgb(162 28 175);
  color: rgb(162 28 175) !important;
}


/* カレンダーのボタン群を横並びにする */
.fc-header-toolbar {
  display: flex;
  flex-direction: column; /* 上下に分ける */
  padding-top: 0.5rem;
}

/* カレンダーのタイトルを一番下にする */
.fc-toolbar-chunk:has(.fc-toolbar-title) {
  order: 2;
}

.fc-timeGridWeek-view {
  font-size: 50%;
  margin-bottom: 4rem; /* フッターとの間隔を確保 */
  border-radius: 10px;
  overflow: hidden;
}

/* カレンダー全体の角を丸くする */
.fc {
  border-radius: 10px;
  overflow: hidden;
}

/* カレンダーの各セルの角を丸くする */
.fc-daygrid-day,
.fc-timegrid-slot,
.fc-timegrid-slot-label,
.fc-timegrid-slot-lane{
  border-radius: 8px;
}

/* カレンダーのヘッダー部分の角を丸くする */
.fc-col-header {
  border-radius: 8px 8px 0 0;
}

/* カレンダーのイベントの角を丸くする */
.fc-event {
  border-radius: 6px !important;
}

/* カレンダーのビューの角を丸くする */
.fc-view-harness {
  border-radius: 10px;
  overflow: hidden;
}

